body {
    
    font-family: Initial;
    background-image: url("https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865393.jpg?t=st=1726811336~exp=1726814936~hmac=ac703360a6c65a849fb514163b0bbd2ffe286c9f6e6c50dbe345ddcc4a3f6eac&w=1380");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    font-family:initial;
    text-align:center;
}

.heading {
    font-size: 60px;
    color:silver;    
}

.info {
    font-size: 40px;
    color:silver;
}

.paragraph {
    font-size: 30px;
    max-width: 1000px;
    color:darkgray;
}


.highlight {
    font-size: 30px;
    max-width: 1000px;
    color:silver; 
}

a {
    color: silver;
    text-decoration: none;
}

.btn {
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: auto;
    Padding:10px;
    cursor:pointer;
    background-color:transparent;
}
