body {
    
    font-family: Initial;
    background-image: url("https://www.bhmpics.com/downloads/smart-background-Wallpapers/63.abstract-technology-with-blue-hexagonal-line-background-smart-design-promotion-bid-data_518299-1336.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    font-family:initial;
    text-align:center;
}

.heading {
    font-size: 60px;
    color:silver;    
}

.info {
    font-size: 40px;
    color:silver;
}

.paragraph {
    font-size: 30px;
    max-width: 1000px;
    color:darkgray;
}


.highlight {
    font-size: 30px;
    max-width: 1000px;
    color:silver; 
}

a {
    color: silver;
    text-decoration: none;
}

.btn {
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: auto;
    Padding:10px;
    cursor:pointer;
    background-color:transparent;
}
