body {
    
    font-family: Initial;
    background-image: url("https://img.freepik.com/free-vector/copy-space-blue-circuits-digital-background_23-2148821699.jpg?t=st=1726811737~exp=1726815337~hmac=1c828ba0aefee1572b0b7ea8af3e87d0634795e6493050eeaa971e4a0bd770c1&w=1380");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    font-family:initial;
    text-align:center;
}

.heading {
    font-size: 60px;
    color:silver;    
}

.info {
    font-size: 40px;
    color:silver;
}

.paragraph {
    font-size: 30px;
    max-width: 1000px;
    color:darkgray;
}


.highlight {
    font-size: 30px;
    max-width: 1000px;
    color:silver; 
}

a {
    color: silver;
    text-decoration: none;
}

.btn {
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: auto;
    Padding:10px;
    cursor:pointer;
    background-color:transparent;
}
